body {
	/*background-color: #337ab7;*/
	background-color: #f8f8f8;
}
.panel-historico{
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.feedbackPanelWARNING{
	color: #8A6D3B;
	font-weight: bold;
	background-color: #FCF8E3;
	border-color: #FAEBCC;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	list-style: none;
}

.icon-menu {
	font-size: 35px;
}

.link{
  color: #337AB7 !important;
  font-weight: bold;
}
.filtros{
	width: 33%; 
	float: left;
	text-align: left;
}
.input-historico{
	width: 100%;
}
.destaque{
	color: red; font-weight: bold;
}
.sidebar {
	width: 14%;
	background-color: transparent !important;
}
.dropdown-submenu>.dropdown-menu {
	border-radius: 0 0px 0px 0px;
}
.glyphicon-folder-open{
	color: black !important;
}

.link-icones {
	text-align: center;
	/*color: #f8f8f8;*/
}
.checkbox-inline br {
	display: none !important; 
}
.checkbox-inline label {
	margin-left: 25px !important; 
}
.radio-inline label {
	margin-left: 25px !important; 
}
.checkbox-inline input{
	margin-left: 10px !important;
}
.radio-inline input{
	margin-left: 10px !important;
}
.ajuste{
	margin-left: 0px !important;
}
.inline {
	margin-left: -25px;
}
.inline br {
	display: none !important; 
}
.inline input{
	margin-left: 10px !important;
}
th{
	text-align: center;
}
td{
	  text-align: center;
}
.download-ico{
  	 width: 40%;
}
.page-title{
	  position: absolute;
  font-size: 16px;
  
}
.legend{
	text-align: left;
  font-size: 16px;
  font-style: italic;
}
.historico {
   margin-bottom: 5px !important;	
}
#table_wrapper{
  margin: 0 -5px;
}
/**
MOdal chrome e explorer
*/
.w_caption{
	height: 2.4em !important;
}
.w_close{
	display: none !important;
}
/**
TABLES
*/
th{
	  text-align: left;
}
td{
	  text-align: left;
}
.col-center{
	text-align: center;
}
.col-left{
	text-align: left;
}
.col-right{
	text-align: right;
}
.valor{
	font-weight: bold;
}
table.dataTable thead > tr > th {
  padding-left: 8px; 
  padding-right: 0px; 
}
.info-titulo{
	background: #337AB7 none repeat scroll 0% 0%;
    color: #FFF;
    font-weight: bold;
    padding: 3px;
    font-size: 10px;
    width: 100%;
}